<ion-header>
  <ion-toolbar>
    <ion-title>departamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Electronica</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Linea Blanca</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Hogar</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ropa</ion-label>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-item>
      <ion-icon name="game-controller-outline"></ion-icon> Elemento 1
    </ion-item>
    <ion-item>
      Elemento 2 <ion-icon name="home-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="ice-cream-outline"></ion-icon>
      Elemento 3
      <ion-icon name="laptop-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
